.header:not(.header--homepage) {
  width: 100%;

  .header {
    &__text {
      text-align: center;
    }

    &__logo {
      height: 100px;
      margin: map-get($spacings, 1) 0;

      @include mq(M) {
        height: 150px;
        margin: map-get($spacings, 2) 0;
      }
    }

    &__bg-image {
      display: none;
    }
  }
}

.header--homepage {
  height: calc(100vh - #{$footer-height} - 2 * #{$menu-height});
  width: 100%;
  position: relative;

  @include mq(M) {
    height: calc(100vh - #{$footer-height} - #{$menu-height});
  }

  .header {
    &__text {
      text-align: left;
    }

    &__logo {
      height: auto;
      margin-top: map-get($spacings, 3);
      width: auto;
      max-width: 100%;
  
      @include mq(XS) {
        height: 40vh;
        margin-top: 8vh;
      }
    }

    &__bg-image {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .5;
      background-image: url("../image/flower_1024x300.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      z-index: map-get($z-index, 'background');
    }
  }
}
