.h-contained-text {
  max-width: $max-text-width;
  margin: 0 auto;
  padding: 0 $side-spacing;

  @include mq(M) {
    padding: 0 $side-spacing--M;
  }
  @include mq(L) {
    padding: 0 $side-spacing--L;
  }
}

.h-align-right {
  text-align: right;
}

.h-footer-spacing {
  margin-bottom: $footer-height;

  @include mq(M) {
    margin-bottom: $footer-height-M;
  }
}