#container {
  margin: 0 auto;
}

nav {
  margin: 0px;
  padding: 0px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
}

nav li {
  display: inline-block;
}

nav > ul > li:not(:first-child) {
  padding-left: 30px;
}

nav > ul > li {
  padding-right: 20px;
  position: relative;

  @media only screen and (min-width: 600px) {
    padding-right: 30px;
  }
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 40px; /* the height of the main nav */
  left: 0;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 300px;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

/* Change this in order to change the Dropdown symbol */
/*li > a:after { content:  ' +'; }*/
li > a:only-child:after {
  content: "";
}
