@import './normalize.scss';
@import './normalize_custom.scss';
@import './variables.scss';
@import './mixins.scss';
@import './typography';
@import './helpers';
@import './header';
@import './menu';


@font-face {
  font-family: "logofont";
  src: url("../font/Satisfy-Regular.ttf");
}

html {
  overflow-y: scroll;
}

body {
  background: $color-brand-contrast;
  color: $dark-text-color;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-family: "calibri";
}

h1 {
  padding-bottom: $half-spacing;
  font-family: "Satisfy";
  color: $color-brand-primary;
  text-shadow: 2px 2px $color-brand-contrast;
  line-height: 1.3em;
}

h2, 
h3 {
  padding-top: $half-spacing;
  color: $color-brand-primary;
}

.stickontop {
  position: sticky;
  top: 0;
}

.stickonbottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: map-get($z-index, 'footer');
}

.page-inner {
  position: relative;
}

.section {
  padding: map-get($spacings, 3) $base-spacing;
  line-height: 1.3em;

  @include mq(M) {
    padding: map-get($spacings, 3) $base-spacing map-get($spacings, 3);
  }
}

.contact {
  &__section {
    display: block;
    clear: both;

    @include mq(M) {
      display: flex;
    }
  }

  &__part1 {
    @include mq(M) {
      padding-right: map-get($spacings, 2);
    }
  }

  &__part2 {
    text-align: right;
  }
}

.portrait-photo {
  width: 250px; 
  height: auto;
  clip-path: circle(125px at center);
}

.footer {
  background-color: $color-brand-primary;
  width: 100%;
  box-sizing: border-box;
  color: $color-brand-contrast;
  stroke: $color-brand-contrast;
  padding: map-get($spacings, 1) 0;
  height: $footer-height;

  @include mq(M) {
    height: $footer-height-M;
  }

  &__lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: inline-block;
    vertical-align: text-top;
  }

  &__list-item {
    @include small-font;
    line-height: 24px;
  }

  img {
    padding-right: $quarter-spacing;
  }
}